sanatio-backend/ssl/
**/*.pem
**/*.key
**/*.keystore
node_modules/
**/node_modules/
dist/
coverage/
*.log
.env
**/.env
.env.local
**/.env.local
uploads/
**/uploads/
**/android/.gradle/
**/android/app/debug.keystore
**/android/build/
**/ios/Pods/
**/ios/build/
**/package-lock.json
**/yarn.lock
**/.expo/
sanatio/android/
sanatio/ios/
