PORT=4004
MONGO_URI=mongodb://localhost:27017/sanatio_doctor
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:19006

RATE_LIMIT=60
RATE_LIMIT_TTL=60
SSL_KEY_PATH=./ssl/key.pem
SSL_CERT_PATH=./ssl/cert.pem
