PORT=3000
MONGODB_URI=mongodb://localhost:27017/sanatio_billing
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:19006

RATE_LIMIT=60
RATE_LIMIT_TTL=60
JWT_SECRET=change-this-access-secret
SSL_KEY_PATH=./ssl/key.pem
SSL_CERT_PATH=./ssl/cert.pem
